<%- include('header') -%>
<script type="text/javascript">window.initialData = <%- JSON.stringify(initialData) -%>;</script>
<div id="root"><div><%- initialMarkup %></div></div>
<%- include('footer') -%>